*{
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Patrick Hand', cursive;
    background-color: #f4ede0;
    color: #3e2d1c;
    background-image: url('https://www.transparenttextures.com/patterns/wood-pattern.png'); 
}
/*Título principal*/
h1.titulo {
    text-align: center;
    color: #7b4a25;
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    margin: 2rem 0 1rem;
    letter-spacing: 2px;
}

/*Botón para crear nueva receta*/
.botonCrear {
    background-color: #7b4a25;
    color: white;
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 0 12px 3px rgb(0 0 0 / 33%);
}
.botonCrear:hover{
    background-color: #5e371d;
    transform: scale(1.20);
}

/* Formulario nueva receta */

.nuevaRecetaH1{
    text-align: right;
    margin: 10px 0;
}

.formReceta {
    max-width: 650px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #fffdf8;
    border: 2px dashed #d1b08a;
    border-radius: 1.25rem;
    box-shadow: 0 0 12px 3px rgb(0 0 0 / 33%);
    padding-top: 0;
    display: none;
}

.formReceta label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.formReceta input[type="text"],
.formReceta select,
.formReceta textarea,
.formReceta input[type="file"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccb59e;
    border-radius: 0.5rem;
    background-color: #fffaf6;
    font-size: 1.1rem;
    font-family: 'Patrick Hand', cursive;
}

.formReceta input[type="text"]{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: #7b4a25;
}


.formReceta button {
    margin-top: 1.5rem;
    background-color: #7b4a25;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.formReceta button:hover {
    background-color:#5e371d;
}

/*Botones para filtrar las recetas*/
 /* Estilos generales para los botones */
 .filtro {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 12px 3px rgb(0 0 0 / 33%);
  }

  /* Estilos para cada categoría */
  .todas {
    background-color: #7b4a25;
    color: white;
  }

  .todas:hover {
    background-color: #ccb59e;
    transform: scale(1.05);
    color: black;
  }

  .carne {
    background-color: #ccb59e;
    color: black;
  }

  .carne:hover {
    background-color: #7b4a25;
    transform: scale(1.05);
    color: white;
  }

  .pescado {
    background-color: #ccb59e;
    color: black;
  }

  .pescado:hover {
    background-color: #7b4a25;
    transform: scale(1.05);
    color: white;
  }

  .vegetariano {
    background-color: #ccb59e;
    color: black;
  }

  .vegetariano:hover {
    background-color: #7b4a25;
    transform: scale(1.05);
    color: white;
  }

  .postres {
    background-color: #ccb59e;
    color: black;
  }

  .postres:hover {
    background-color: #7b4a25;
    transform: scale(1.05);
    color: white;
  }

  /* Estilo del contenedor para los botones */
  .filtros {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 40px;
  }

/* Recetas */

.recetas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

.receta {
    background-color: #fffaf4;
    border: 1px solid #d1b08a;
    border-radius: 1rem;
    box-shadow: 0 0 12px 3px rgb(0 0 0 / 33%);
    padding: 1.5rem;
    animation: aparecer 0.6s ease-in-out both;
    max-width: 900px;
    margin: 0 auto;
}

.receta h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    color: #7b4a25;
    margin-bottom: 0.3rem;
    display: none;
}

.receta h3 {
    font-size: 1.4rem;
    color: #5f3f2e;
}

.receta img {
  width: 100%;
  border-radius: 0.75rem;
  margin: 1rem 0;
  border: 1px solid #e0cdb8;
  max-height: 700px;
}

.receta p{
    font-size: 1.2rem;
    display: none;
    white-space: pre-wrap; /*Respeta los saltos de linea, tabulaciones y espacios multiples*/
}

.receta .categoria,
.receta select{
    margin-top: 10px;
    display: none;
}

.receta textarea,
.receta input,
.receta select{
    width: 95%;
    padding: 0.75rem;
    border: 1px solid #ccb59e;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-family: 'Patrick Hand', cursive;
    display: none;
    background-color: white;
}

.receta select{
    width: 250px;
}

.receta input[type="text"]{
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    color: #7b4a25;
}

.cargando {
    text-align: center;
    font-style: italic;
    color: #8c7b6e;
    font-size: 3rem;
    animation: cargando 1.5s infinite;
    margin-top: 40px;
}

.error{
  font-size: 1.3rem;
  color: #c00;
  display: none;
  margin-top: 10px;
}

.visible{
    display: block;
}

.receta .visible{
    display: block;
}


/* Botones editar y borrar de receta */
.boton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .editar {
    background-color: #7b4a25; 
    color: white;
  }

  .editar:hover {
    background-color: #5e371d;
    transform: scale(1.20);
  }

  .borrar {
    background-color: #7b4a25; 
    color: white;
  }

  .borrar:hover {
    background-color: #5e371d;
    transform: scale(1.20);
  }

  .botones {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 10px;
  }

/* Animaciones */   

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cargando {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /*Media Query*/

@media screen and (max-width: 800px){
    .filtros span{
        display: none;
    }
}